.banner{
  position: relative;
  max-width: 100%;
  height: auto;
  background: url(../images/banner.jpg) no-repeat;
     
      
}
  
.banner-background{
  background: $secondary-background;
  opacity: 1;   
  
}
  
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper {
    background: url(../images/banner@2x.jpg) no-repeat;
        
  }
}